*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body{
    background-color: #ececec;
}

.query-form{
    position: fixed;
    bottom: 0;
    min-width: 100%;
}

.query-form>input{
    border: none;
    width: calc(70% - 15px);
}

.query-form>button{
    border: none;
    width: calc(30% - 15px);
    background: #9c27b0;
    color: white;
}

.query-form>*{
    margin: 5px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
}

.shadow{
    box-shadow: 0 0 10px grey;
}

/* .message-list{
    max-height: 70%;
    overflow: hidden;
} */

.message-wrapper{
    display: flex;
}

.message{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    max-width: 50%;
    color: black;
    background-color: white;
}

.message.mine{
    background: #9c27b0;
    color: white;
}

.message-wrapper.mine{
    justify-content: flex-end;
}

.message .name{
    color: #9c27b0;
}

.message .timestamp{
    font-size: .5rem;
    color: grey;
}